body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title p {
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: underline;
}

.nav {
    padding: 15px;
    background-color: steelblue;
}

.nav ul {
    display: block;
}

.nav ul li {
    display: inline;
    margin: 8px;
}

.nav ul li a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(74, 84, 94);
}

.header {
    padding: 150px;
    background-color: cornflowerblue;
}

.header p {
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
}

.button {
    background-color: rgb(250, 245, 245);
    padding: 15px;
    border-radius: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer {
    padding: 10px;
    background-color: steelblue;
}

.footer p {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

.search-bar {
    padding: 100px;
}

input[type=search] {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    outline: none;
    margin: 8px;
    height: 45px;
}

.searchButton {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.712);
    border-radius: 15px;
    font-family: sans-serif;
    font-weight: bold;
    width: 25%;
    font-size: medium;
}

.searchButton:hover {
    background-color: lightslategray;
}

.text-heading {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-result ul {
    display: block;
}

.search-result ul li {
    display: grid;
    margin: 10px;
}

.search-result ul li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
}

.inner {
    padding: 3px;
    background-color: blueviolet;
    width: 95px;
    margin: auto
}

.inner1 {
    padding: 3px;
    background-color: rgb(43, 86, 226);
    width: 95px;
    margin: auto
}

.inner2 {
    padding: 3px;
    background-color: rgb(43, 226, 98);
    width: 95px;
    margin: auto
}

.inner3 {
    padding: 3px;
    background-color: rgb(226, 162, 43);
    width: 95px;
    margin: auto
}